* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin-top: 0;
  background-color: #232323;
}

.site {
  margin-left: -25px;
  margin-right: 5px;
  margin-top: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 6fr 1fr 6fr;
      grid-template-rows: 1fr 6fr 1fr 6fr;
}

.menu {
  position: fixed;
  width: 100vw;
  margin-top: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.97);
  color: whitesmoke;
  font-size: 1em;
  -webkit-box-shadow: 0px 0px 44px 32px rgba(0, 0, 0, 0.97);
  box-shadow: 0px 0px 44px 32px rgba(0, 0, 0, 0.97);
}

.menu .logo {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.menu .logo #logo {
  width: 120px;
}

.menu .searchbar {
  margin-bottom: 0px;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  vertical-align: middle;
  padding-top: 1%;
}

.menu .searchbar #searchbar {
  margin: 0;
  width: 60%;
  height: 40%;
  padding: 5px;
  border: none;
  text-align: center;
}

.menu .searchbar #searchbutton {
  margin: 0px;
  padding: 0px;
  border: none;
  height: 55%;
}

.menu .buttons {
  margin-top: 10px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.menu .menubuttons {
  padding: 0;
  margin: 0;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 2em;
  margin-top: 0px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.menu .menubuttons #empty-start {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-auto-rows: 1/2;
}

.menu .menubuttons #home {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-auto-rows: 1/2;
}

.menu .menubuttons #movies {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-auto-rows: 1/2;
}

.menu .menubuttons #shows {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  grid-auto-rows: 1/2;
}

.menu .menubuttons #actors {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  grid-auto-rows: 1/2;
}

.menu .menubuttons #empty-end {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  grid-auto-rows: 1/2;
}

.menu .signin-button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.menu .signup-button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.menu .signin {
  background-color: #edd70f;
  display: inline-block;
  cursor: pointer;
  color: #232323;
  font-family: Arial;
  text-align: center;
  font-size: 1em;
  width: 50%;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

.menu .signin .signin:hover {
  background-color: #ebda6a;
}

.menu .signin .signin:active {
  position: relative;
  top: 1px;
}

.menu .signup {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #232323;
  display: inline-block;
  cursor: pointer;
  color: #edd70f;
  font-family: Arial;
  text-align: center;
  font-size: 1em;
  width: 50%;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  border-color: #edd70f;
  border-style: solid;
}

.menu .signup .signin:hover {
  background-color: #ebda6a;
}

.menu .signup .signin:active {
  position: relative;
  top: 1px;
}

.content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  top: 150px;
  left: 50px;
  position: absolute;
  color: #edd70f;
}

.hexagon1 {
  position: absolute;
  width: 300px;
  height: 173.21px;
  margin: 86.60px 0;
  border-left: solid 10px #f0d20f;
  border-right: solid 10px #f0d20f;
  top: 250px;
  left: 200px;
  -webkit-transform: scale(2);
          transform: scale(2);
  z-index: -99;
}

.hexagon1:before,
.hexagon1:after {
  content: "";
  position: absolute;
  width: 212.13px;
  height: 212.13px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
}

.hexagon1:before {
  top: -113px;
  left: 37px;
  border-top: solid 14.1421px #f0d20f;
  border-right: solid 14.1421px #f0d20f;
}

.hexagon1:after {
  bottom: -113px;
  left: 37px;
  border-bottom: solid 14.1421px #f0d20f;
  border-left: solid 14.1421px #f0d20f;
}
/*# sourceMappingURL=style.css.map */